<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1 class="text-center">Welcome {{user.nameFirst}} {{user.nameLast}}</h1>
    </div>
  </div>
  <div class="row">
    <img class="img-responsive img-circle center-block img-profile" src="/img/avatar.png" />
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form action="/profile/edit" method="post">
        <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Edit</button>
      </form>
    </div>
  </div>
</div>
