<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="/owners/listings" method="post">
        <h2 class="text-center">Enter Space Address</h2>
        <label>Address 1</label>
        <input type="text" name="address1" class="form-control" placeholder="address1" required data-validation-required-message="Please enter your address." autofocus>
        <label>Address 2</label>
        <input type="text" name="address2" class="form-control" placeholder="address2">
        <label>City</label>
        <input type="text" name="city" class="form-control" placeholder="city" required data-validation-required-message="Please enter your city.">
        <label>State</label><br>
        <input type="text" name="state" class="form-control" placeholder="state" required data-validation-required-message="Please enter your state.">
        <label>Zip Code</label>
        <input type="text" name="zip" class="form-control" placeholder="zip" required data-validation-required-message="Please enter your zip code.">
        <label>Price (USD per half hour)</label>
        <input type="number" min="0" step="0.01" name="pricePerHalfHour" class="form-control" placeholder="price" required data-validation-required-message="Please enter your price.">
        <label>Special Instructions</label>
        <input type="text" name="instructions" class="form-control" placeholder="instructions">
        <div class="form-group col-xs-4 col-xs-offset-4">
          <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
