<div class="container">
  <div class="row">
    <form class="form-signin" name="signup" action="/signup" method="post">
      <h2 class="form-signin-heading">Sign Up</h2>
      <label for="nameFirst" class="sr-only">First Name</label>
      <input type="text" name="nameFirst" class="form-control" placeholder="First Name" required data-validation-required-message="Please enter your first name." autofocus>
      <label for="nameLast" class="sr-only">Last Name</label>
      <input type="text" name="nameLast" class="form-control" placeholder="Last Name" required data-validation-required-message="Please enter your last name.">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email address" required data-validation-required-message="Please enter your email address.">
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required data-validation-required-message="Please enter your password.">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
  </div>
</div>
