<div class="bg">
  <div class="jumbotron">
    <div class="container text-center">
      <br><br>
      <h1>Parking. Reinvented.</h1>
      <p>Coming to a city near you.</p>
      <br>
      <p><a class="btn btn-lg btn-primary login-btn" href="/login" role="button">Log In</a></p>
      <a class="text-white" href="/signup">No login? Sign up here!</a>
    </div>
  </div>
</div>

<div id="about" class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Drivers</h2>
      <i class="fa fa-car fa-5x" aria-hidden="true"></i>
      <h4>Never worry about not finding a spot again.</h4>
    </div>
    <div class="col-md-6 text-center">
      <h2>Owners</h2>
      <i class="fa fa-user fa-5x" aria-hidden="true"></i>
      <h4>Earn money for your unused spot.</h4>
    </div>
  </div>
</div>
